<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/mixtape.css">
  </head>
  <body>

    <div id="app" class="app">
      <section id="header" class="header">
        Mixtape
      </section>
      <section id="content" class="content"></section>
    </div>

    <script id="tapes-list-template" type="text/template">
      <div class="tapes-list">
      </div>
    </script>

    <script id="tape-screamer-template" type="text/template">
      <header id="tape-list-screamer-<%= key %>" class="tape-screamer">
        <h1 class="playlist-name">
          <%= name %>
        </h1>
      </header>
    </script>
    
    <script id="tape-template" type="text/template">
      Tape
    </script>

    <script id="tracks-template" type="text/template">
      Tracks
    </script>    

    <script id="track-template" type="text/template">
      Track
    </script>

    <script id="new-tape-template" type="text/template">
      New Tape
    </script>

    <script data-main="js/main" src="bower_components/requirejs/require.js"></script>
  </body>
</html>