@import compass/reset
@import compass/css3
@import compass/utilities
@import ../bower_components/components-font-awesome/scss/font-awesome

// Colors
$red: #ec5757
$orange: #ff7c4f
$yellow: #ffd366
$green: #43b364
$blue: #2da5c4
$purple: #a083c8

$offWhite: #f7f7f7
$lightGray: #aaa
$gray: #777
$darkGray: #444

$color: $darkGray
$tintColor: $green
$bgColor: $offWhite
$borderColor: lighten($lightGray, 10%)

// Fonts
// We're using Open Sans hosted by Google Fonts with the following weights:
// * 300 Light
// * 400 Normal
// * 600 Semi-bold
// * 700 Bold
// * 800 Extra-bold

// Layout
$gutter: 20px
$radius: 2px

$headerHeight: 50px

// FYI: You cannot use variables in media query declarations.
//      This won't work: @media (min-width: $iphoneWidth)

// ## Widths of common devices ##
// iPhone portrait:   320px
// iPhone landscape:  480px
// iPad portrait:     768px
// iPad landscape     1024px

// -----------------------------------------------------------------------

*
  +box-sizing(border-box)

body
  background-color: $bgColor
  color: $color

body,
button,
input
  font-family: "Open Sans", sans-serif
  font-weight: 800
  text-transform: uppercase
  font-size: 24px

a
  color: $green
  text-decoration: none


/* Header */

.app-header
  position: fixed
  width: 100%
  height: $headerHeight
  line-height: $headerHeight
  color: white
  background: black
  text-align: center
  letter-spacing: 1px


/* Content */

.app-content
  padding-top: $headerHeight


/* Tapes */

.tape-banner
  padding: $gutter * 1.5 
  margin: 0 $gutter/4 $gutter/4 0
  background-color: $yellow
  font-size: 36px
  +ellipsis
  &:hover
    cursor: pointer

.tracks
  padding-top: 0 $gutter/4

.track
  padding: $gutter - 5 $gutter * 1.5 
  margin-bottom: 2px
  background-color: white

.track-name
  color: $darkGray
  font-size: 24px
  line-height: 1.3em
  +ellipsis
  
.track-artist
  color: $lightGray
  font-size: 14px
  font-weight: 700
  line-height: 1.6em
  +ellipsis


/* Browse Tapes View */

.tapes-browse
  padding: $gutter/4
  .tapes-list
    +pie-clearfix
    .tape-banner
      float: left
      font-style: italic
      &:hover
        background: $orange

  .new-tape-button
    float: left
    padding: $gutter * 1.5 
    margin: 0 $gutter/4 $gutter/4 0
    font-size: 36px
    line-height: 1em
    text-align: center
    color: white
    background: $lightGray
    border: none
    &:hover
      background: $green
      cursor: pointer


/* Single Tape View */

.tape
  .tape-banner
    margin-right: 0
    margin-bottom: 2px
    font-size: 48px


@media (max-width: 640px)
  /* Browse Tapes View */
  .tapes-browse
    .tapes-list
      .tape-banner
        float: none
    .new-tape-button
      float: none
      width: 100%
